<h1>Hokey religions and ancient weapons are no match for a good blaster at your side, kid.</h1>
<p>Hokey religions and ancient weapons are no match for a good blaster at your side, kid. The Force is strong with this one. I have you now. What good is a reward if you ain't around to use it? Besides, attacking that battle station ain't my idea of courage. It's more like…suicide.</p>
<p>She must have hidden the plans in the escape pod. Send a detachment down to retrieve them, and see to it personally, Commander. There'll be no one to stop us this time! Kid, I've flown from one side of this galaxy to the other. <strong> I've seen a lot of strange stuff, but I've never seen anything to make me believe there's one all-powerful Force controlling everything.</strong> <em> There's no mystical energy field that controls my destiny.</em> It's all a lot of simple tricks and nonsense.</p>
<h2>A tremor in the Force. The last time I felt it was in the presence of my old master.</h2>
<p>Red Five standing by. Hey, Luke! May the Force be with you. Oh God, my uncle. How am I ever gonna explain this? Obi-Wan is here. The Force is with him. But with the blast shield down, I can't even see! How am I supposed to fight?</p>
<ol>
<li>You don't believe in the Force, do you?</li><li>Oh God, my uncle. How am I ever gonna explain this?</li><li>I find your lack of faith disturbing.</li>
</ol>

<h3>I care. So, what do you think of her, Han?</h3>
<p>Obi-Wan is here. The Force is with him. Don't be too proud of this technological terror you've constructed. The ability to destroy a planet is insignificant next to the power of the Force. I find your lack of faith disturbing.</p>
<ul>
<li>What!?</li><li>Kid, I've flown from one side of this galaxy to the other. I've seen a lot of strange stuff, but I've never seen anything to make me believe there's one all-powerful Force controlling everything. There's no mystical energy field that controls my destiny. It's all a lot of simple tricks and nonsense.</li><li>Look, I can take you as far as Anchorhead. You can get a transport there to Mos Eisley or wherever you're going.</li>
</ul>

<p>As you wish. I can't get involved! I've got work to do! It's not that I like the Empire, I hate it, but there's nothing I can do about it right now. It's such a long way from here. Oh God, my uncle. How am I ever gonna explain this?</p>
<p>Look, I can take you as far as Anchorhead. You can get a transport there to Mos Eisley or wherever you're going. You're all clear, kid. Let's blow this thing and go home! I need your help, Luke. She needs your help. I'm getting too old for this sort of thing.</p>
<p>Oh God, my uncle. How am I ever gonna explain this? I don't know what you're talking about. I am a member of the Imperial Senate on a diplomatic mission to Alderaan-- I care. So, what do you think of her, Han?</p>
<p>No! Alderaan is peaceful. We have no weapons. You can't possibly… Red Five standing by. A tremor in the Force. The last time I felt it was in the presence of my old master. Remember, a Jedi can feel the Force flowing through him.</p>
<p>Hey, Luke! May the Force be with you. Look, I ain't in this for your revolution, and I'm not in it for you, Princess. I expect to be well paid. I'm in it for the money. You don't believe in the Force, do you?</p>
<p>Hey, Luke! May the Force be with you. Ye-ha! Dantooine. They're on Dantooine. I can't get involved! I've got work to do! It's not that I like the Empire, I hate it, but there's nothing I can do about it right now. It's such a long way from here.</p>
<p>Remember, a Jedi can feel the Force flowing through him. As you wish. I'm trying not to, kid. No! Alderaan is peaceful. We have no weapons. You can't possibly…</p>
<p>The Force is strong with this one. I have you now. Still, she's got a lot of spirit. I don't know, what do you think? I find your lack of faith disturbing. She must have hidden the plans in the escape pod. Send a detachment down to retrieve them, and see to it personally, Commander. There'll be no one to stop us this time!</p>
<p>What!? Obi-Wan is here. The Force is with him. Oh God, my uncle. How am I ever gonna explain this? Your eyes can deceive you. Don't trust them. She must have hidden the plans in the escape pod. Send a detachment down to retrieve them, and see to it personally, Commander. There'll be no one to stop us this time!</p>
<p>What?! You don't believe in the Force, do you? The Force is strong with this one. I have you now. What?! I need your help, Luke. She needs your help. I'm getting too old for this sort of thing.</p>
<p>Remember, a Jedi can feel the Force flowing through him. Don't underestimate the Force. Hokey religions and ancient weapons are no match for a good blaster at your side, kid. Leave that to me. Send a distress signal, and inform the Senate that all on board were killed.</p>
